[HPC]
user = user
password = password

[RDS_ACCOUNT]
username = user
password = password


[TEST]
username = admin

[DB]
dir = /Library/PostgreSQL/12/data/
rdbms = postgresql
user = postgres
password = testpass
host = 127.0.0.1
test = phenomedb_test
beta = phenomedb_beta
port = 5433
pool_size = 10
max_overflow = 20
create_script = ./sql/phenomedb_v0.9.4_postgres.sql

[WEBSERVER]
url = http://localhost:8080/

[API]
custom_root = custom

[REDIS]
port = 6380
host = 127.0.0.1
user = default
password = password
# 24 hours
memory_expired_seconds = 86400
# 30 days
disk_expiry_seconds = 2592000

[R]
exec_path = /usr/local/bin/R
script_directory = /full/path/to/appdata/r_scripts/

[SMTP]
enabled = true
host = host
port = 25
user = user
password = password
from = Name <emailaddress>

[DATA]
project_data_base_path = /path/to/projectdata/
app_data = /full/path/to/appdata/
test_data = /full/path/to/data/test/
compounds = /full/path/to/data/compounds/
sql = /full/path/to/sql/
config = /full/path/to/data/config/
cache = /full/path/to/appdata/cache/
nginx_cache = /full/path/to/appdata/nginx_cache/

[API_KEYS]
metabolights = api_key
chemspider = api_key

[LOGGING]
dir = /tmp/phenomelog/

[PIPELINES]
pipeline_manager = apache-airflow
pipeline_folder = /full/path/to/dags
pipeline_manager_user = admin
pipeline_manager_password = testpass
pipeline_manager_api_host = localhost:8080
task_spec_file = /full/path/to/data/config/task_typespec.json
docker = false
