{% extends 'base.html' %}
{% block plugin_content %}
<div class="container-fluid">
	<div class="row">
        <h3 class="page-heading">{{data['harmonised_annotation'].cpd_id}} - {{data['harmonised_annotation'].cpd_name}}</h3>
    </div>
    <div class="row">
        <div class="section">
            <ul>
                <li>HarmonisedAnnotation ID: {{data['harmonised_annotation'].id}}</li>
                <li>HarmonisedAnnotation cpd_id: {{data['harmonised_annotation'].cpd_name}}</li>
                <li>HarmonisedAnnotation cpd_name: {{data['harmonised_annotation'].cpd_name}}</li>
                <li>Assay: {{data['harmonised_annotation'].assay.name}}</li>
                <li>Annotation Method: {{data['harmonised_annotation'].annotation_method.name}}</li>
                <li>Compounds:
                    {% for compound in data['harmonised_annotation'].compounds %}
                        <a href="{{url_for('CompoundView.compound', id=compound.compound.id)}}">{{compound.compound.name}}</a>
                        {% if data['harmonised_annotation'].multi_compound_operator %}
                            {{ data['harmonised_annotation'].multi_compound_operator.value }}
                        {% endif %}
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block tail %}
{{ super() }}
<script>

</script>
{% endblock %}
